.collection {
    
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }

    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 140px;

    }

    &__text{
        width: 50%;
        
        h1{
            color: #191919;
            font-size: 75px;
            font-weight: 400;
            padding-bottom: 20px;
        }

        p{
            color: grey;
            text-transform: capitalize;
            width: 400px;
            padding-bottom: 25px;
        }

        .btn{
            color: #fff;
            padding: 10px 25px;
            border-radius: 5px;
            cursor: pointer;
            background-color: #191919;

            &:hover{
                opacity: .8;
            }
        }

    }

}